@namespace Views

@using Model = CleanTimer.Models.HouseholdChore

<div class="householdDeals">
    <Controls.Button Icon="@UI.Controls.Icon.Text.REFRESH" Variant="@UI.Controls.Button.Variant.PRIMARY" Size="@UI.Controls.Button.Size.XS"/>

    <Controls.Text Value="@Model.Name" Size="@UI.Controls.Text.Size.SM"/>
    <div></div>
    <Controls.ProgressBar />
</div>

@code {
    [Parameter]
    public required Model Model { get; set; }
}
