@namespace Views.Chores.Mode.Edit

@using CleanTrack.Localization

@inject NavigationManager Navigation

<div class="chore">
	@if (!Node.isLeaf)
	{
		<Controls.Button Icon="@UI.Controls.Icon.Text.CHEVRON_RIGHT"
						 Variant="@UI.Controls.Button.Variant.SECONDARY"
						 Size="@UI.Controls.Button.Size.XS"
						 Disabled="@(Node.Children.Count == 0)"
						 OnClick="() => ToggledChanged.InvokeAsync(Node.Id)" />
	}
	else
	{
		<div />
	}

	<div class="@itemClasses" @onclick="() => toggleSelectedItem(Node.Id)">
		<Controls.Tag Text="@(Node.isLeaf ? Resources.ShortcutTimer : Resources.ShortcutSection)" />
		<Controls.Text Value="@Node.Name" Size="@UI.Controls.Text.Size.MD" />
	</div>

	<div class="buttonsWrapper">
		<div class="@buttonsClasses">
			@if (isSelected)
			{
				@if (!Node.isLeaf)
				{
					<Controls.Button Icon="@UI.Controls.Icon.Text.ADD"
									 Variant="@UI.Controls.Button.Variant.SECONDARY"
									 Size="@UI.Controls.Button.Size.SM"
									 PaddingXXS
									 OnClick="() => goToAddPage(false, Node.Id)">
						<Controls.Tag Text="@Resources.ShortcutSection" />
					</Controls.Button>

					<Controls.Button Icon="@UI.Controls.Icon.Text.ADD"
									 Variant="@UI.Controls.Button.Variant.SECONDARY"
									 Size="@UI.Controls.Button.Size.SM"
									 PaddingXXS
									 OnClick="() => goToAddPage(true, Node.Id)">
						<Controls.Tag Text="@Resources.ShortcutTimer" />
					</Controls.Button>
				}

				<Controls.Button Icon="@UI.Controls.Icon.Text.EDIT"
								 Variant="@UI.Controls.Button.Variant.SECONDARY"
								 Size="@UI.Controls.Button.Size.SM"
								 OnClick="() => onEdit.InvokeAsync(Node)" />

				<Controls.Button Icon="@UI.Controls.Icon.Text.DELETE"
								 Variant="@UI.Controls.Button.Variant.DANGER"
								 Size="@UI.Controls.Button.Size.SM"
								 OnClick="() => onDelete.InvokeAsync(Node)" />
			}
		</div>
	</div>
</div>

@code {
	[Parameter]
	public required ChoreNode Node { get; set; }

	[Parameter]
	public EventCallback<Guid> ToggledChanged { get; set; }

	/* Cannot put this in ViewModel. It seems like duplicate ViewModel for each node. */
	[Parameter]
	public Guid? SelectedChoreId { get; set; }

	[Parameter]
	public EventCallback<Guid?> SelectedChoreIdChanged { get; set; }

	[Parameter]
	public EventCallback<(bool, Guid)> onAdd { get; set; }

	[Parameter]
	public EventCallback<ChoreNode> onEdit { get; set; }

	[Parameter]
	public EventCallback<ChoreNode> onDelete { get; set; }

	private bool isSelected => Node.Id == SelectedChoreId;

	private string itemClasses => string.Join(" ", new Dictionary<string, bool>()
	{
		{"item", true},
		{"selected", Node.Id == SelectedChoreId },
	}.Where((kv, index) => kv.Value == true).ToDictionary(x => x.Key, x => x.Value).Keys.ToArray<string>());

	private string buttonsClasses => string.Join(" ", new Dictionary<string, bool>()
	{
		{"buttons", true},
		{"itemSelected", Node.Id == SelectedChoreId },
	}.Where((kv, index) => kv.Value == true).ToDictionary(x => x.Key, x => x.Value).Keys.ToArray<string>());

	private void goToAddPage(bool isLeaf, Guid parentId)
	{
		onAdd.InvokeAsync((isLeaf, parentId));
	}

	private void toggleSelectedItem(Guid? id)
	{
		if (SelectedChoreId == id)
			SelectedChoreIdChanged.InvokeAsync(Guid.Empty);
		else
			SelectedChoreIdChanged.InvokeAsync(id);
	}
}
